
.main-content {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.report-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 15px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="date"] {
  color: black;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.generate-btn {
    background-color: #f7aa46;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-btn:hover {
    background-color: #e59635;
}
